@model Missionary.Models.Mission
@{
    ViewBag.Title = "Mission Information";
}

<div>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href=@Url.Action("Index", "Home")>Home</a></li>
        <li class="breadcrumb-item"><a href=@Url.Action("Mission", "Home")>Mission Selection</a></li>
        <li class="breadcrumb-item active">@Model.MissionName</li>
    </ol>
    <div class="card mb-3">
        <h3 class="card-header">Mission Information</h3>
        <div class="card-body">
            <h5 class="card-title">@Model.MissionName Mission</h5>
            <h6 class="card-subtitle text-muted">Mission Flag:</h6>
        </div>
        <img style="width: 400px; padding: 1.25rem;" src="~/Content/@Model.Flag" alt="Card image">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Mission President: @Model.PresidentName</li>
            <li class="list-group-item">Mission Home Address: @Model.Address</li>
            <li class="list-group-item">Mission Language: @Model.Language</li>
            <li class="list-group-item">Climate: @Model.Climate</li>
            <li class="list-group-item">Dominant Religion: @Model.Religion</li>
        </ul>
    </div>
    <a href=@Url.Action("FAQ", "Home", new { value = Model.MissionID }) class="btn btn-info btn-lg" style="margin: 1.25rem;">Mission FAQ</a>
</div>